:root{
    --button-primary :rgb(0, 130, 202);
    --button-secundary:#3b82f6;
    --header:rgb(29, 25, 52);
}

body { 
    font-family: Arial,sans-serif; 
    text-align: center;
    margin: 0;
    padding: 0; 
}
header{
    width: 100%;
    height: 80px;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: white;
}
header nav img{
    width: 150px;
}
h1 { 
    color: var(--header);
}
table { 
    width: 80%; 
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
tbody tr:nth-child(odd) td {
    background-color: rgb(244, 244, 244); /* Color más suave para las filas impares */
}

th {
     background-color:  #e0e0e0; 
     color: var(--header);
}
button { 
    padding: 15px 20px; 
    margin-top: 20px; 
    background-color:var(--button-primary) ;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button:hover{
    background-color: var(--button-secundary);
}

/* Estilos para el check */
#checkIcon {
    font-size: 30px;
    color: var(--button-primary);
    margin-right: 10px;
}

/* Estilos para el modal */
#pdfModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centrar el modal */
    height: auto;
    padding-top: 20px;

}

/* Estilo para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    position: relative; /* Asegura que la 'X' esté posicionada dentro del modal */
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
}

/* Estilo para la 'X' de cierre */
.close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute; /* Colocamos la 'X' en la esquina */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la parte derecha */
}

.close-button:hover,
.close-button:focus {
    color: black;
}

/* Estilo para el mensaje y el ícono */
#modalMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#modalMessage p {
    display: inline-block;
    margin: 0;
}

/* Estilo para el enlace del PDF (botón) */
.open-pdf-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--button-primary);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.open-pdf-btn:hover {
    background-color: var(--button-secundary);
}



